<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<filter>
		<filter-name>CompressingFilter</filter-name>
		<filter-class>com.github.ziplet.filter.compression.CompressingFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>CompressingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>HttpHeadersFilter</filter-name>
		<filter-class>org.javastack.servlet.filters.ResponseHeadersFilter</filter-class>
		<init-param>
			<param-name>X-XSS-Protection</param-name>
			<param-value>1; mode=block</param-value>
		</init-param>
		<init-param>
			<param-name>X-Frame-Options</param-name>
			<param-value>deny</param-value>
		</init-param>
		<init-param>
			<param-name>X-Content-Type-Options</param-name>
			<param-value>nosniff</param-value>
		</init-param>
		<init-param>
			<param-name>Content-Security-Policy</param-name>
			<param-value>script-src 'self'</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>HttpHeadersFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>rest-servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- Register resources and providers under com.vogella.jersey.first package. -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.a9ski.um.ws</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rest-servlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>30</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	
	<!-- login configuration -->
	<login-config>
	    <auth-method>FORM</auth-method>	    
	    <realm-name>umRealm</realm-name>
	    <form-login-config>
	        <form-login-page>/login.html</form-login-page>
	        <form-error-page>/login-error.html</form-error-page>
	    </form-login-config>
	</login-config>
	
	<!-- define a constraint for any url of the application, for the user to be any of the access role(s) -->
	<security-constraint>
        <display-name>admin-user-constraint</display-name>
        <web-resource-collection>
            <web-resource-name>admin-user-resources</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Only admins are authorized</description>
            <role-name>UmAdmin</role-name>			
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>normal-user-constraint</display-name>
        <web-resource-collection>
            <web-resource-name>normal-user-resources</web-resource-name>
            <description/>
            <url-pattern>/index.html</url-pattern>
            <url-pattern>/profile.html</url-pattern>            
            <url-pattern>/ws/users/currentUser</url-pattern>
            <url-pattern>/ws/users/password</url-pattern>
            <url-pattern>/ws/users/logout</url-pattern>
            <url-pattern>/ws/users/isAdmin</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description>Normal users are authorized</description>
            <role-name>UmUser</role-name>
            <role-name>UmAdmin</role-name>			
        </auth-constraint>
    </security-constraint>
    	    
	<security-constraint>
        <display-name>anonymous-user-constraint</display-name>
        <web-resource-collection>
            <web-resource-name>static-resources</web-resource-name>
            <description/>
            <url-pattern>/css/*</url-pattern>
            <url-pattern>/font-awesome/*</url-pattern>
            <url-pattern>/images/*</url-pattern>
            <url-pattern>/jqgrid/*</url-pattern>
            <url-pattern>/jquery/*</url-pattern>
            <url-pattern>/jquery-ui/*</url-pattern>
            <url-pattern>/js/*</url-pattern>            
        </web-resource-collection>              
    </security-constraint>
    
	<!-- security roles for the app -->
	<security-role>
		<description>Users with administration privileges</description>
		<role-name>UmAdmin</role-name>		
	</security-role>   		
	
	<security-role>
		<description>Users with standard privileges</description>		
		<role-name>UmUser</role-name>
	</security-role>
	
</web-app>